{% extends "layout.html" %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for row in finance %}
                <tr>
                    <td>{{ row.symbol }}</td>
                    <td>{{ row.name }}</td>
                    <td>{{ row.shares }}</td>
                    <td>{{ row.price }}</td>
                    <td>{{ row.total }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>Cash</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td>{{ cash }}</td>
            </tr>
            <tr>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <th>{{ total }}</th>
            </tr>
        </tbody>
    </table>
{% endblock %}